{{ define "list" -}}
	{{ range . }}
		<li><a href="{{ .link }}">{{ .name }}</a></li>
	{{ end }}
{{- end -}}

<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- <link rel="stylesheet" href="/site.css" />  -->
		<link rel="stylesheet" href="site.css" />
		<link rel="icon" type="image/svg+xml" href="/img/logo.svg" />
		<link rel="alternate icon" href="/img/logo.svg" />
	</head>
	<body>
		<nav class="container">
			<ul>{{ template "list" (datasource "data").navleft }}</ul>
			<ul>{{ template "list" (datasource "data").navright }}</ul>
		</nav>
		<main class="container">{{ . }}</main>
	</body>
</html>
